.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-content {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.title {
    text-align: center;
    color: #333;
}

.input-div {
    margin-bottom: 20px;
}

.input-div .div {
    position: relative;
}

.input-div .div input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    outline: none;
}

.text-center {
    text-align: center;
}

.btn {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}