/* estilos.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Formulario {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.titulo {
    text-align: center;
    color: #333;
}

.padre {
    margin-top: 20px;
}

.nombre,
.apellido,
.usuario,
.password {
    margin-bottom: 10px;
}

.nombre label,
.apellido label,
.usuario label,
.password label {
    display: block;
    margin-bottom: 5px;
}

.nombre input,
.apellido input,
.usuario input,
.password input {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    outline: none;
}

.cuenta {
    margin-top: 20px;
    text-align: center;
}

.boton {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.boton:hover {
    background-color: #0056b3;
}

.cuenta a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s ease;
}

.cuenta a:hover {
    color: #0056b3;
}
