body { 
    background-image: url('../img/roshi.jpg'); /* Reemplaza con la ruta de tu imagen */
    background-size: cover; /* Hace que la imagen de fondo cubra toda la pantalla */
    background-position: center; /* Centra la imagen de fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgba(241, 230, 211, 0.7);
    border-style: solid;
    border-radius: 5%;
    width: 80%; /* Ancho inicial relativo al contenedor padre */
    max-width: 50em; /* Ancho máximo para grandes pantallas */
    padding: 2em; /* Padding interno para que el contenido no toque los bordes */
    text-align: center; /* Centrar texto y elementos */
}

h1 {
    font-size: 3em;
    margin: 1.2em 0em;
}

.enlaces {
    margin: 6em 0em;
}

.enlaces a {
    border-radius: 5%;
    font-size: 4.5em;
    background-color: orange;
    color: white; 
    text-decoration: none; 
    display: inline-block;
    padding: 0.2em;
    margin: -0.2em 0 0 0.2em; 
}
