
body {
    background-image: url(../img/roshi.jpg); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center; 
    margin: 0; 
    width: 100%;
    height: 100%;
}

.container {
    background-color: rgba(241, 230, 211, 0.7);
    border-style: solid;
    border-radius: 5%;
    width: 80%; /* Ancho inicial relativo al contenedor padre */
    height: auto; /* Altura automática basada en el contenido */
    max-width: 50em; /* Ancho máximo para grandes pantallas */
    max-height: 26em; /* Altura máxima para grandes pantallas */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
}


h1 {
    text-align: center;
    font-size: 3em;
    margin: 0.5em 0em;
}

.acceso {
    background-color: orange;
    font-size: 3.5em;
    margin: 0 1em;
    color: white; 
    text-decoration: none; 
    padding: 0.2em;
    display: inline-block; 
    border-radius: 10px; 

}

.rutina {
    background-color: orange;
    font-size: 3.5em;
    margin: 0 2.5em;
    color: white; 
    text-decoration: none; 
    padding: 0.2em;
    display: inline-block; 
    border-radius: 10px;

}

.volver {
    text-align: left;
    background-color: orange;
    font-size: 1.5em;
    color: white; 
    text-decoration: none; 
    margin: 0 0.2em;
    padding: 0.2em;
    display: inline-block; 
    border-radius: 10px;
}