
body {
    background-image: url(../img/roshi.jpg); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center; 
    margin: 0; 
    width: 100%;
    height: 100%;
}

.container {
    background-color: rgba(241, 230, 211, 0.7);
    border-style: solid;
    border-radius: 5%;
    width: 50em;
    height: 26em;
    margin: 7.5em 0em 5.2em 23em;
    text-align: center;
}

.container h1, h2 {
    font-size: 2em;
}

.container p {
    font-size: 2em;
}

.dni {
    font-size: 3em;
}

.entrada, .salida {
    background-color: orange;
    font-size: 2.5em;
    margin: 0 1em; /* Ajusta el margen según sea necesario */
    color: white;
    text-decoration: none;
    padding: 0.5em 1em; /* Ajusta el relleno según sea necesario */
    display: inline-block;
    border-radius: 10px;
}

.volver {
    text-align: left;
    background-color: orange;
    font-size: 1.5em;
    color: white; 
    text-decoration: none; 
    margin: 0 0.2em;
    padding: 0.2em;
    display: inline-block; 
    border-radius: 10px;
}